
.report
{
 background-color: #E0E0E0 ;
}


.Hedding1
{
     font-family:'Open Sans',arial;
     color:#FFFFFF;
    font-size: 26px;
    font-weight: bold;
    text-align: center;
}


.Hedding2
{
}
font-size:1.4em;
color:black;


table
{
border: 1px solid #98BF21;
}


td
{
 background-color: #EAF2D3;
    color: #000000;
    padding-bottom: 4px;
    padding-top: 5px;
    text-align: left;
    font-size: 0.8em;
    font-family: verdana,helvetica,arial,sans-serif;

}

th{
   background-color: #A7C942;
    color: #FFFFFF;
    font-size: 1.0em;
    padding-bottom: 4px;
    padding-top: 5px;
    text-align: left;
    font-family: verdana,helvetica,arial,sans-serif;
}

.Failed
{

background-color: #FF0000;
    color: #000000;
    font-size: 0.8em;
    padding-bottom: 4px;
    padding-top: 5px;
    text-align: center;
    font-family: verdana,helvetica,arial,sans-serif;
    font-weight:bold;
}

.Passed
{

background-color: #00FF00;
    color: #000000;
    font-size: 0.8em;
    padding-bottom: 4px;
    padding-top: 5px;
    text-align: center;
    font-family: verdana,helvetica,arial,sans-serif;
    font-weight:bold;
}

.Request
{

background-color: #FF7300;
    color: #000000;
    font-size: 0.8em;
    padding-bottom: 4px;
    padding-top: 5px;
    text-align: center;
    font-family: verdana,helvetica,arial,sans-serif;
    font-weight:bold;
}

img {
    transition: all 1s ease 0s;
}
img {
    border: 0 none;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    float:left;
}

.header
{

  background-color: #C8C8C8;
    border: 1px none;
    border-radius: 4px 4px 4px 4px;
    height: 100px;
    margin-top: 0;
    padding: 1px;
}

.InfoSub
{
 font-size: 0.8em;
 font-family:'Open Sans',arial;
 color:#555555
 font-weight:300;
}

.InfoSup
{

 font-size: 0.9em;
 font-family:'Open Sans',arial;
 color:#555555
 font-weight:bold;

}
.Errorinfo
{
font-size: 0.9em;
 font-family:'Open Sans',arial;
 color:Red;
 font-weight:400;
}


.fontStyles{
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	color: #0B2096;
	font-size: 22;
	padding: 5;
	text-decoration: underline;
}



.fontiiii{
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-weight:bold;
	color: #000000;
	font-size: 15;
	padding: 5;
	text-decoration: underline;
}
.fontyG{
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-weight:bold;
	color: #FF8000;
	font-size: 15;
	padding: 5;
}